.quiz {
  display: grid;
  grid-template-columns: 47% 63%;
  column-gap: 10px;
  row-gap: 15px;
}

.dropDown {
  margin: 10px;
}

.livePreview,
.inputSide {
  border: 1px solid #ff8e53;
  padding: 20px;
  font-size: 30px;
  border-radius: 5px;
}
.inputSide {
  box-shadow: -2px 10px 45px 0px rgba(134, 134, 134, 0.2);
}
.livePreview {
  box-shadow: 10px 10px 45px 0px rgba(87, 87, 87, 0.2);
}

.question {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
  margin-bottom: 20px;
}

.ans {
  font-size: 24px;
  font-family: "Nunito Sans", sans-serif;
  margin-right: 10px;
  margin-top: 50px;
  vertical-align: middle;
}

.inputQues,
.submitQues,
.inputAns,
.submitAns {
  border: 2px solid #fe6b8b;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 20px;
}

.submitQues:hover,
.submitAns:hover {
  background: linear-gradient(45deg, #fe6b8b 40%, #ff8e53 70%);
}

.Answer {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
}

.quesOutput {
  margin-left: 20px;
  margin-bottom: 5px;
}
